html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font: 16px Tahoma, Arial;
  padding: 0 0 40px;
  margin: 0 auto;
}

.hidden { display: none; }

header { padding: 0 40px; }

.pokemons:after {
  content: '';
  display: table;
  height: 0px;
  clear: both;
}

.loading { margin: 0 40px; }

.pokemons .pokemon-card {
  width: 140px;
  cursor: pointer;
  float: left;
  transition: box-shadow .2s, background .2s;
}

.pokemon-card {
  text-align: center;
  padding: 10px 20px;

  background: #fff;
  box-shadow: 4px 4px 36px -7px #666;
}
.pokemon-card:focus {
  outline: none;
  background: #fafafa;
  box-shadow: 0px 0px 1px 0px #ccc;
}

.pokemons .pokemon-picture img {
  max-width: 100%;
  height: 120px;
}

.pokemon .pokemon-picture img {
  width: 100%;
}

.pokemon table {
  width: 100%;
  text-align: left;
}

.pokemon-card h3 {
  margin: 0;
  font-size: 16px;
}

.types {
  padding: 0;
  margin: 12px 0 0;
  list-style: none;

  overflow: hidden;
  height: 48px;
}

.types li {
  display: inline-block;
  padding: 2px 6px;
  margin: 0 3px 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #ddd;
}

.types .type-normal { background: #fff; }
.types .type-fighting { background: #a79595; }
.types .type-flying { background: #44bfff; }
.types .type-poison { background: #d45fff; }
.types .type-ground { background: #4caf50; }
.types .type-rock { background: #9e9e9e; }
.types .type-bug { background: #b5885d; }
.types .type-ghost { background: #f2eeff; }
.types .type-steel { background: #8d889e; }
.types .type-fire { background: #ff7547; }
.types .type-water { background: #0be5f5; }
.types .type-grass { background: #8bc34a; }
.types .type-electric { background: #ffeb3b; }
.types .type-psychic { background: #3bffd6; }
.types .type-ice { background: #b9f4ff; }
.types .type-dragon { background: #6d8e68; }
.types .type-dark { background: #6168a2; }
.types .type-fairy { background: #f9f7d3; }
.types .type-unknown { background: #fff; }
.types .type-shadow { background: #ece0e0; }

.btn-load-more {
  margin: 30px auto 0;
  display: block;
  width: 400px;
  font-size: 20px;
  background: #fff;
  border: none;
  cursor: pointer;
  padding: 16px 0;
  box-shadow: 4px 4px 36px -7px #666;
  transition: box-shadow .2s, background .2s;
}
.btn-load-more:focus {
  outline: none;
  background: #fafafa;
  box-shadow: 2px 2px 18px -4px #333333;
}
.btn-load-more:active,
.btn-load-more[disabled] {
  background: #fafafa;
  box-shadow: 0px 0px 1px 0px #ccc;
}

/* Remove spaces */
.types { font-size: 0; }
.types li { font-size: 13px; }

/* Responsive */

.pokemons { width: 65%; }

.pokemon {
  position: fixed;
  top: 89px;
  bottom: 141px;
  right: 40px;
  overflow: auto;

  padding: 0;
  width: 30%;
}

.pokemon figure { margin: 10px 20px; }

.pokemon .pokemon-card {
  height: 200px;
}

@media (max-width: 799px) {
  body { background: red; }
}
